<h3>Friends: </h3>
<!--<button (click)="uploadedImgs()">click for images</button>-->
<div class="mb-5 text-right">
  <button type="button" class="btn btn-success" routerLink="/add-friend">+ Add New Friend</button>
</div>

<table class="table table-striped mb-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let friend of friends | sort: 'name'; let i = index"
        style="text-transform: capitalize;">
      <th scope="row">{{i + 1}}</th>
      <td>
        <img *ngIf="!friend.avatar" src="assets/images/ninja.png" alt="default-avatar-img " class="img-responsive" style="max-width: 30px"/>
        <img *ngIf="friend.avatar" src="assets/uploads/{{friend.avatar}}" alt="avatar-img" class="img-responsive" style="max-width: 30px"/>
      </td>
      <td>{{friend.name}}</td>
      <td>{{friend.address}}</td>
      <td style="cursor: pointer;" (click)="onShowFriend(friend)">Details</td>
      <td style="cursor: pointer;" (click)="openModal(template, friend.id, friend.avatar); onShowFriend(false)">X</td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Are you sure?</p>
    <button type="button" class="btn btn-default" (click)="decline()" >Cancel</button>
    <button type="button" class="btn btn-danger" (click)="confirm()" >Remove</button>
  </div>
</ng-template>

<!--<hr/>-->
<!--<hr/>-->
<!--<hr/>-->
<!--<hr/>-->
<!--<hr/>-->

<!--<section class="new-slider">-->
  <!--<carousel-component >-->
    <!--<div class="item-carousel">-->
      <!--<div class="a" style="max-width: 300px; height: 100px">-->
        <!--<img style="display: block; width: 100%" src="assets/images/ninja.png" alt="avatar-img" />-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="item-carousel">-->
      <!--<div class="b" style="max-width: 300px; height: 100px">-->
        <!--<img style="display: block; width: 100%" src="assets/images/ninja.png" alt="avatar-img" />-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="item-carousel">-->
      <!--<div class="c" style="max-width: 300px; height: 100px">-->
        <!--<img style="display: block; width: 100%" src="assets/images/ninja.png" alt="avatar-img" />-->
      <!--</div>-->
    <!--</div>-->
  <!--</carousel-component>-->
<!--</section>-->
